loader.vcxproj
loader.vcxproj.filters
loader.vcxproj.user
x64/Debug/loader.Build.CppClean.log
x64/Debug/loader.exe.recipe
x64/Debug/loader.ilk
x64/Debug/loader.log
x64/Debug/loader.vcxproj.FileListAbsolute.txt
x64/Debug/Source.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/loader.tlog/CL.command.1.tlog
x64/Debug/loader.tlog/CL.read.1.tlog
x64/Debug/loader.tlog/CL.write.1.tlog
x64/Debug/loader.tlog/link.command.1.tlog
x64/Debug/loader.tlog/link.read.1.tlog
x64/Debug/loader.tlog/link.write.1.tlog
x64/Debug/loader.tlog/loader.lastbuildstate
x64/Release/loader.exe.recipe
x64/Release/loader.iobj
x64/Release/loader.ipdb
x64/Release/loader.log
x64/Release/Source.obj
x64/Release/vc143.pdb
x64/Release/loader.tlog/CL.command.1.tlog
x64/Release/loader.tlog/CL.read.1.tlog
x64/Release/loader.tlog/CL.write.1.tlog
x64/Release/loader.tlog/link.command.1.tlog
x64/Release/loader.tlog/link.read.1.tlog
x64/Release/loader.tlog/link.write.1.tlog
x64/Release/loader.tlog/loader.lastbuildstate
